parameters:
    level: max
    bootstrapFiles:
        - phpstan-bootstrap.php
    paths:
        - src
        - framework/src
        - tests
        - routes
    checkMissingIterableValueType: true